/*----------------------
    Default Themes
========================
Fonts:Teko & Jost
------------------
colors:
        Bright Yellow: #ffae2c;
        Slate Gray: #6c7e86;
        Platinum: #e4e6e3;
        Black: #000;
        White: #fff;
----------------------- */
/*--------- HTML, Body -------- */
html,body{
    height:100%;
}
body{
    color:#6c7e86;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Teko", sans-serif;
}
p{
    font-family: "Jost", sans-serif;
    font-size:15px;
    font-weight:400;
    line-height:24px;
}
section{
    background:#fff;
    overflow:hidden;

}
/*--------- Buttons -------- */
.btn-general{
    font-family: "Teko", sans-serif;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    font-size: 16px;
    text-transform: uppercase;
    margin:0 8px;
    padding:12px 46px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.btn-home{
    color:#fff;
    border:1px solid #fff;
}
.btn-home:hover,
.btn-home:focus{
    color: #000;
    background-color: #ffae2c;
    border:1px solid #ffae2c;
}
.btn-yellow{
    background-color: #ffae2c;
    border: 1px solid #ffae2c;
    font-family: 'Jost', sans-serif;
}
.btn-yellow:hover,
.btn-yellow:focus{
    background-color: #555;
    color:#fff;
    border: 1px solid #555;
}
/*--------- Preloader -------- */
#preloader{
    background-color:#fff ;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:9999;
}
#preloader_status{
    background-image: url("../images/preloader.gif");
    background-repeat: no-repeat;
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50px,-50px);
    -webkit-transform: translate(-50px,-50px);
}

/*--------- Home -------- */
#home{
    background:none;
    height:100%;
}
#home-bg-video{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    min-height: 100%;
    min-width: 100%;
    width:auto;
    height:auto;
    z-index: -2;
    background: url("../images/poster.jpg")no-repeat;
    background-size: cover;
}

#home-overlay{
    background-color: rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
}
#home-content{
    width:100%;
    height:100%;
    display:table;  
}
#home-content-inner{
    display:table-cell;
    vertical-align: middle;
}
#home-heading h1{
   color: #fff;
   font-size: 80px;
   font-weight: 100;
   text-transform:uppercase ;
   margin:0;
   display: inline-block;
}
#home-heading h1 span{
    color:#ffae2c;
    font-weight: 500;
}
#home-text p{
color:#fff;
font-size: 18px;
font-weight: 100;
margin:8px 0 30px 0;
}
#arrow-down{
    position:absolute;
    left:50%;
    bottom: 40px;
    color:#fff;
    font-size: 32px;
    width: 32px;
    height:32px;
    text-align: center;
    margin-left:-16px;
    z-index:1;
    transition: all .5s;
    -webkit-transition: all .5s;
}
#arrow-down:hover,
#arrow-down:focus{
    color:#ffae2c;
    font-size: 40px;
    margin-bottom: 5px;
}
/*--------- Content Boxes -------- */
.content-box-lg{
    padding:100px 0;
}
.content-box-md{
    padding:50px 0;
}
/*--------- Headings  -------- */
.vertical-heading {
    margin-top:-20px;
}
.vertical-heading h5{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    position:relative;
    top:68px;
    left:-60px;
}
.vertical-heading h5,
.horizantal-heading h5{
    color:#ffae2c;
    font-size: 20px;
    font-weight: 600;
    text-transform:uppercase;
    word-spacing: 10px;
    display:inline-block;
}
.vertical-heading  h2{
    margin-left: 30px;
}
.vertical-heading  h2,
.horizantal-heading h2{
    font-size: 44px;
    font-weight: 200;
}
.horizantal-heading{
    margin-bottom: 40px;
}
.horizantal-heading h5{
    margin-bottom: 10px;
}
.horizantal-heading h2{
    line-height: 48px;
    margin:0;
}
/*--------- about 01 -------- */
#about-right p{
    font-size:18px;
}
#about-bottom{
    margin-top:50px;
}
#about-bottom img{
    margin:0 auto;
}
/*--------- about 02 -------- */
#about-02{
    background-color:#e4e6e3;
}
.about-item{
    background-color: #fff;
    padding:65px 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    margin:10px;
}
.about-item span{
    font-size:44px;
    display:inline-block;
}
.about-item h3{
    font-size:30px;
    margin-bottom:10px; 
}
.about-item hr{
    width:60px;
    height:3px;
    background-color: #ffae2c;
    border:none;
    margin:0 auto;
}
.about-item p{
    margin-top: 20px;
}
/* Hover State */
.about-item:hover{
    background-color: #ffae2c;
    color: #fff;
}
.about-item:hover span{
    color:#fff;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
}
.about-item:hover hr{
    background-color: #fff;
}
/* Smooth Transition */
.about-item,
.about-item span,
.about-item hr{
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
/*--------- Team -------- */
#team-left p{
    margin-top:30px;
}
.team-member{
    margin:10px;
    position:relative;
}
.team-member-overlay{
    background-color:rgba(0,0,0,0.8);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
    display:table;
    opacity: 0;
    transition:all 400ms linear;
    -webkit-transition:all 400ms linear;
}
.team-member-info{
    width:100%;
    height:100%;
    display:table-cell;
    vertical-align: middle;
}
.team-member-info h6{
    color:#ffae2c;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    margin:0;
}
.team-member-info p{
    color: #fff;   
}
.team-member:hover .team-member-overlay{
    opacity: 1;
}
/*--------- Social Icons -------- */
ul.social-list{
    padding:0;
}
ul.social-list li{
    display: inline-block;
    padding: 0;
    margin:5px;
}
ul.social-list li a{
    border:1px solid #fff;
    border-radius:50%;
    -webkit-border-radius:50%;
    display:inline-block;
    width:35px;
    height:35px;
    line-height:35px;
    transition:all 400ms linear;
    -webkit-transition:all 400ms linear;
}
ul.social-list li a:hover{
    background-color: #ffae2c;
    border-color:#ffae2c
}
/*------------ Owl-Carousel Nav --------*/
.owl-theme .owl-nav [class*=owl-]{
    outline:none ;
}
.owl-theme .owl-nav [class*=owl-] span{
    color:#000;
    font-size: 40px;
    background: none;
    transition: all 300ms;
    -webkit-transition: all 300ms;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;  
}
.owl-theme .owl-nav [class*=owl-] span:hover{
    color:#ffae2c;
}
/*------------ Skills --------*/
.skill{
    margin-bottom:30px;
}
.skill h4{
    margin:0;
    line-height: 50px;
    font-weight: normal;
}
.progress{
    height:25px;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #e4e6e3;
    overflow: visible;
}
.progress-bar{
    background-color: #ffae2c;
    position: relative;
    overflow: visible;
}
.progress-bar span{
    font-weight:600;
    font-family: 'Jost' sans-serif;
    background-color: #555;
    position: absolute;
    padding: 7px;
    right:-20px;
    top:-50px;
}
.progress-bar span:before{
    content:'';
    border-top:16px solid #555;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: -15px;
}
/*------------ Statement --------*/
#statement{
    background: url("../images/statement-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#statement .content-box-md{
    background: rgba(0,0,0,0,4);
}
#quote-box{
    min-height:200px;
    margin-top: 20px;
}
#statement h3{
    color:#fff;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    padding:20px 5px;
}
#statement p{
    color:#ffae2c;
    font-weight: 600;
    font-size: 24px;
    padding:10px 0px;
}
/*--------- Services 01 -------- */
#services-01 img{
    margin: 30px 0;
}
.service .icon{
    font-size: 42px;
    margin: 0;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}
.service:hover .icon{
    color:#ffae2c;
    transform:translateX(-20px);
    -webkit-transform:translateX(-20px);
} 
.service h5{
    font-size: 16px;
    text-transform: uppercase;
    color: #ffae2c;
    margin-bottom: 6px;
}
.service:hover h5{
    color: #6c7e86;
    transform:translateX(-20px);
    -webkit-transform:translateX(-20px);
}
.service h4{
    font-size: 28px;
    margin-bottom: 8px;
}
.service p{
    line-height: normal;
}
/*------------ Services 02 --------*/
#services-02{
    background-color: #e4e6e3;
}
#services-tabs ul{
    margin-bottom: 30px;
}
#services-tabs ul li{
    padding: 5px 30px;
}
#services-tabs ul li a{
    text-decoration:none;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #555;
    font-weight: 500;
    padding:0;
}
#services-tabs ul li.r-tabs-state-active a{
    color:#ffae2c;
    font-weight: 600;
    border-bottom: 3px solid #ffae2c;
    padding-bottom: 5px;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}
.service-tab .col-md-6{
    padding:0;
}
.service-tab img{
    width:100%;
    height: 100%;
    margin:0 auto;
}
.service-tab .tab-bg{
    background-color: #fff;
    height:100%;
    padding:50px 40px;
}
.service-tab h2{
    font-family: "Jost", sans-serif;
    font-weight: 100;
    font-size:42px;
    color: #ffae2c;
}
.service-tab h3{
    font-size: 34px;
    margin:20px 0;
}
.service-tab p{
    line-height:26px;
    margin-bottom: 30px;
}
/*--------- Portfolio -------- */
#portfolio{
    padding-bottom:180px ;
}
#portfolio .vertical-heading{
    margin-bottom:50px;
}
.grid .col-md-3{
    padding:0;
    overflow: hidden;
    position: relative;
}
.portfolio-buttons{
    margin-bottom: 10px;
    padding:20px 25px 20px 0;
}
.portfolio-buttons button{
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    background: transparent;
    padding: 5px;
    margin:5px 15px 10px 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.portfolio-buttons button.active{
    color: #ffae2c;
    border-bottom: 3px solid #ffae2c;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
}
/*---------- Zoom Effect --------*/
.portfolio-item img{
    width:100%;
    height:auto;
    transition:all 400ms ease-in-out;
    -webkit-transition:all 400ms ease-in-out;
}
.portfolio-item:hover img{
    transform:scale(1.4);
    -webkit-transform:scale(1.4);
}
/* Overlay Effect */
.portfolio-item-overlay{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: zoom-in;
    opacity: 0;
    transition:all 400ms ease-in-out;
    -webkit-transition:all 400ms ease-in-out;
}
.portfolio-item-details{
    width:100%;
    position:absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.portfolio-item-details h3{
     color: #ffae2c;
     text-transform: uppercase;
     font-size: 30px;
     margin: 0;
     padding: 0;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     transition:all 400ms ease-in-out;
     -webkit-transition:all 400ms ease-in-out;
}
.portfolio-item-details span{
     display: inline-block;
     border-top: 1px solid #fff;
     border-bottom: 1px solid #fff;
     height: 6px;
     width: 35px;
     margin: 10px auto;
}
.portfolio-item-details p{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transition:all 400ms ease-in-out;
    -webkit-transition:all 400ms ease-in-out;
}
/* Mouse over Effect */
.portfolio-item:hover .portfolio-item-overlay{
    opacity:1 ;
}
.portfolio-item:hover .portfolio-item-details h3{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
.portfolio-item:hover .portfolio-item-details p{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
/*-------- Testimonials -------*/
#testimonials{
    background-color:#e4e6e3 ;
    overflow: visible;
}
#testimonials .vertical-heading{
    padding: 60px 0;
    margin-bottom:120px ;
}
#testimonial-slider{
    background-color: #ffae2c;
    top:-120px;
}
.testimonial{
    padding: 20px 45px 0 45px;
    color: #fff;
}

.testimonial h3{
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    line-height: 32px;
}
.testimonial .stars{
    font-size: 22px;
}
.testimonial p{
    line-height: normal;
    margin: 5px 0 10px 0;
}
.testimonial .row{
    margin-bottom: 10px;
}
.author .author-details{
    margin-top: 25px;
    width: 120px;
}
.author .author-details p{
    margin: 0;
    font-weight: 600;
} 
/***On Mouse Hover****/
 #testimonials .owl-theme .owl-nav [class*=owl-] span{
    color:#fff;
}
#testimonials .owl-theme .owl-nav [class*=owl-] span:hover{
    color:#000;
}
/*------ Pricing ------*/
.pricing-box{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 32px 32px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    margin-bottom:20px;
}
.pricing-box:hover{
    background-color: #ffae2c;
    color: #fff;
}
.pricing-box .type h4{
    color: #ffae2c;
    font-size: 24px;
    margin-bottom: 24px;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;

}
.pricing-box:hover .type h4{
    color: #fff;
}
.pricing-box .price{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 0;
}
.pricing-box .price h2{
    font-family: 'Jost', sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin-left: 24px;
    position: relative;
}
.pricing-box .price h2 span.dollar{
    font-size: 20px;
    position: absolute;
    left: -20px;
    top: 5px;
}
.pricing-box .price h2 span.month{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    bottom: -14px;
}
.pricing-box .price p{
    line-height: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.pricing-box ul.package{
    list-style: none;
    padding: 20px 0;
}
.pricing-box ul.package li{
    font-family:'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}
.pricing-box ul.package li span{
    margin-right: 20px;
}
.pricing-box .btn-yellow{
    width: 96%;
}
.pricing-box:hover .btn-yellow{
    background: #fff;
    border:1px solid #fff;
}
.pricing-box .btn-yellow:hover{
    background: #555;
    border:1px solid #555;
}
.pricing-box.black{
    background-color: #212226;
    color: #fff;
}
.pricing-box.black h4{
    color: #fff;
}
.pricing-box.black:hover{
    background: #ffae2c;
}
/*-------- Stats -----*/
#stats{
    background: url("../images/stats.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#stats .content-box-md{
    background: rgba(0,0,0,0,4);
}
#stats .vertical-heading{
    margin-bottom: 50px;
}
#stats .vertical-heading h2{
    color: #fff;
}
.stats-item{
    background-color: rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    min-height: 170px;
    padding: 25px 50px;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}
.stats-item span{
    display: inline-block;
    font-size: 42px;
    color:#ffae2c;
    margin-bottom: 8px;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;

}
.stats-item h3{
    font-size: 36px;
    color: #fff;
    margin: 5px 0;
}
.stats-item p{
    color: #fff;
    margin: 0;
}
.stats-item:hover{
    background-color: #ffae2c;
}
.stats-item:hover span{
    color: #212226;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}
/*----- Clients -----*/
#clients-list{
    padding-top: 30px;
}
#clients-list .client{
    padding:0 10px;
    max-width: 150px;
    /* max-height: */
    margin:0 auto;
    line-height:100px ;
}
#clients-list .client img{
    display:inline-block;
}
/*----- Blog -----*/
#blog{
    background-color: #e4e6e3;
}
#blog-left p{
    margin: 24px 0;
}
#blog-btn a{
    margin:0;
}
.blog-post{
    background-color: #fff;
    padding:20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 32px 32px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.blog-post h4{
    line-height:40px;
    margin:0;
}
.blog-post > p{
    line-height:24px;
    margin:0;
    font-weight: 300;
}
.blog-post a{
    display: inline-block;
    margin-top: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color:#ffae2c;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}
.blog-post a:hover{
    color:#6c7e86; 
}
.blog-post .post-meta{
    margin-top:30px;
    border-top: 1px solid #e0e0e0;
    padding-top: 12px;
}
.blog-post .post-meta p img{
    max-width:40px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.blog-post .post-meta p{
    line-height:40px;
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin:0;
}
/*------- Contact ----------*/
/* Contact Left */
#contact-left p{
    margin: 25px 0;
}
#office h5{
    color:#ffae2c;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
#office ul.office-details{
    list-style: none;
    padding:0;
}
#office ul.office-details li{
    font-family: 'Jost', sans-serif;
    margin-top: 12px;
    display: flex;
}
#office ul.office-details li span{
    display: inline-block;
    font-size:14px;
    width: 30px;
}
#contact-left ul.social-list li a{
    border: none;
    background-color: #6c7e86;
    color: #fff;
    text-align: center;
}
#contact-left ul.social-list li a:hover{
    background-color: #ffae2c;
}
/* Contact Right */
#contact-right{
    padding:25px 30px;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
#contact-right h4{
    font-size: 28px;
}
#contact-right p{
    margin-bottom: 26px;
}
#contact-right form .form-control{
    font-family: 'Jost', sans-serif;
    padding: 10px 12px;
    line-height: 24px;
}
#contact-right form textarea.form-control{
    min-height: 130px;
}
/*------- Footer ---------*/
footer{
    background-color: #6c7e86;
    padding:30px;
}
footer p{
    color:#fff;
    margin: 0;
    line-height: 20px;
}
footer p span{
    color: #ffae2c;
    font-weight: 600;
}
/*------- Navigation --------*/
.navbar{
    padding: 30px 24px;
}
.navbar-brand{
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color:#ffae2c;

}
.navbar-brand:hover,
.navbar-brand:focus{
    color:#ffae2c;
}
ul.navbar-nav li a{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
ul.navbar-nav li a:hover,
ul.navbar-nav li a:focus{
    color:#ffae2c;
}
/* White Navigation */
.white-nav-top{
    background-color: #fff;
    padding: 10px ;
    box-shadow: 0 8px 6px -9px #999;
}
.white-nav-top ul.navbar-nav li a{
    color:#6c7e86;
}
.white-nav-top ul.navbar-nav li a:hover,
.white-nav-top ul.navbar-nav li a:focus{
    color:#ffae2c;
}
/* Scrollspy */
.white-nav-top ul.navbar-nav li a.active{
    color: #ffae2c;
}

